.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/Imgbg.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 200px 0px 200px 0px;

  &__title {
    margin: 0 auto;
    width: 700px;
    font-weight: 900;
    font-size: 44px;
    text-transform: uppercase;
    line-height: 1.34;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--white-color);
  }
}
